@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    background-color: black;
    position: sticky; 
    top: 0; 
}

.leftNav{
    display: flex;
    gap: 20px;
}
.leftNav img:nth-child(2){
    height: 20px;
    
}

.centerNav{
    width: 60%;
    display: flex;
    justify-content: center;
    border: none;
    
}



.centerNav > input{
    
    width:50%;
    border: none;  
    /* border-radius: 20px; */
    padding: 5px 18px;
    font-size: 20px;
    border: 1px solid #2b2a2a ;
    background-color: black;   
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    color: white;
    
}

.centerNav > input::placeholder {
    color: #aaa; 

}

.centerNav > input:focus{
   
    outline: none;
    box-shadow: none;
    /* caret-color: #ccc;*/
}


.centerNav img:nth-child(2){
    padding:4px 15px;
    background-color: #2b2a2a;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.centerNav img:nth-child(3){
    padding: 8px;
    margin-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background:#2b2a2a;
}

.rightNav{
    display: flex;
    gap:20px;
}

.rightNav img:nth-child(3){
    width: 30px;
    border-radius: 50%;
}

.ytPremium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    align-items: center;
    text-align: center;
    height:60%;
    /* margin-bottom: 0px; */
    

}

.ytPremiumDetails > button{
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 20px 20px;
    background-color: #41A9FF;
    
}


.ytdesc h2:nth-child(1){
    color: #4D5053;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 10px;
}

.ytPremiumDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ytPremiumDetails p:nth-child(2){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    color: #68676B;
    
}

.features{
    background-color: #100f0f;
    color: rgb(237, 234, 234);
    display: flex;
    height: 41%;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap: 13px;
    overflow: hidden;
    
    
}

.features >div> h2{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 32px;
    color: rgb(195, 205, 213);
    
}

/* .features > img{
   height: 70px;
   width: 125px;
   display: flex;

} */

.features div:nth-child(1),.features div:nth-child(2),.features div:nth-child(3){
    width:18%;
    height: 65%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 8px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
}

.features > div p:nth-child(3){
    color:#aaa;
}

.features > div > p{
    line-height: 23px ;
}

.bg1{
    background-image: url(./images/bg1.jpeg);
    background-size: cover;
    height: 60%;
    color: white;
}

.bg1 > div > h2{
    font-size: 3em;
    font-weight:300;
    
}

.bg1 > div{
    padding: 195px 0px 0px 970px;
    display: flex;
    flex-direction:column;
    gap: 30px;

}

.bg1 > div > p{
    color: #949494;
    line-height: 30px;
    font-size: 20px;
    font-weight: 450;

}





.bg2{
    background-image: url(./images/bg2.jpeg);
    background-size: cover;
    height: 60%;
    color: white;

}

.bg2 > div > h2{
    font-size: 3em;
    font-weight:300;
    
}

.bg2 > div{
    padding: 200px 0px 0px 450px;
    display: flex;
    flex-direction:column;
    gap: 30px;

}

.bg2 > div > p{
    color: #949494;
    line-height: 30px;
    font-size: 25px;
    font-weight: 450;
}





.bg3{
    background-image: url(./images/bg3.jpeg);
    background-size: cover;
    height: 60%;
    color: white;
    
}

.bg3 > div > h2{
    font-size: 3em;
    font-weight:300;
    
}

.bg3 > div{
    padding: 195px 0px 0px 970px;
    display: flex;
    flex-direction:column;
    gap: 30px;

}

.bg3 > div > p{
    color: #949494;
    line-height: 30px;
    font-size: 20px;
    font-weight: 450;
}




.bg4{
    background-image: url(./images/bg4.jpeg);
    background-size: cover;
    height: 60%;
    color: white;
}

.bg4 > div > h2{
    font-size: 3em;
    font-weight:300;
    
}

.bg4 > div{
    padding: 160px 0px 0px 450px;
    display: flex;
    flex-direction:column;
    gap: 30px;

}

.bg4 > div > p{
    color: #949494;
    line-height: 30px;
    font-size: 20px;
    font-weight: 450;
}


.fqs{
    background-color: #100f0f;
    height: 60%;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}

.faqDetail{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.faqDetail > p{
    font-size: 25px;
    margin-bottom: 32px;
}

.drop{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 450;
}

.helpCenter > p{
   padding-left: 0px ;
}

.helpCenter{
    padding: 40px 0;
}





body {
    --sb-track-color: #0f0f0f;
    --sb-thumb-color: #929190;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
